<article>
  <div class="row">
    <div class="col-8">
        <h3> {{watchdog._organisationName}}</h3>
        <p> Loaction: {{watchdog._location}}</p>
        <p> Contact: {{watchdog._contact}}</p>
        <blockquote>
          <span>&#8221;</span>
          {{watchdog._description}}
          <span>&#8221;</span>
        </blockquote>
        <!-- <blockquote class="blockquote-reverse">
            <p class="mb-0">Far far away, behind the word mountains.</p>
            <footer class="blockquote-footer">Vladimir Lugovsky</footer>
          </blockquote> -->
    </div>
    <div class="col-4">
        <button nbButton
        (click)="sendMessage(watchdog._watchdog_id)"
        outline status="primary">
        Remove watchdog
        </button>

        <p [hidden] ="!watchdog._watchdog_authorized"  class="bottom approved">approved</p>
        <p [hidden] = "watchdog._watchdog_authorized" class="bottom pending">pending</p>

    </div>
  </div>
</article>
