<article>

  <div class="row">
    <div class="col-8">
        <h3> {{account._accountID}}</h3>
        <p> Name: {{account._accountName}}</p>
        <p> Institution: {{account._institutionName}}</p>
        <p> Opened: {{account._created | date }}</p>

    </div>
    <div class="col-4">
        <button nbButton
        (click)="sendMessage(account._id)"
        outline status="primary">
          Close Account
        </button>
    </div>
  </div>
</article>
