
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nb-card class="own-scroll">
                <nb-card-header class="text-center">
                    Clients
                </nb-card-header>
                <nb-list    nbInfiniteList
                            [threshold]="100"
                            (bottomThreshold)="loadNext(cardData)">

                <nb-list-item *ngFor="let items of cardData.items">
                    <creditor-client-list-item  [organisation]="items"></creditor-client-list-item>
                </nb-list-item>
                <nb-list-item *ngFor="let _ of cardData.placeholders">
                    <ngx-list-item-placeholder></ngx-list-item-placeholder>
                </nb-list-item>
                </nb-list>
            </nb-card>
        </div>
    </div>
</div>
