<div class="container">
    <div class="flex-centered row">
        <div class="col">
            <nb-card>
                <nb-card-header>
                    <nav class="navigation\">
                      <a (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
                      <h2 class="title">Add Loan</h2>
                    </nav>
                </nb-card-header>

                <form [formGroup]="loanForm" (ngSubmit)="onSubmit()" novalidate  [hidden]="notAllowed" >
                    <nb-card-body>
                        <br>
                        <small class="sub-title" [hidden]="!notAllowed"> Action Not allowed </small>
                        <div class="container" [hidden]="notAllowed">
                            <br>
                            <div class="col">
                                <div class="form-control-group">
                                    <label class="label" for="_issueDate">Date Issued:</label>
                                    <input type="text"
                                    nbInput
                                    fullWidth
                                    name="_issueDate"
                                    type="text"
                                    id="_issueDate"
                                    placeholder="Enter the date the company was founded"
                                    formControlName="_issueDate"
                                    [nbDatepicker]="formpicker" required>
                                    <nb-datepicker #formpicker></nb-datepicker>

                                    <div *ngIf="loanForm.controls['_issueDate'].invalid && (loanForm.controls['_issueDate'].dirty || loanForm.controls['_issueDate'].touched)" class="alert alert-danger">
                                        <div *ngIf="loanForm.controls['_issueDate'].errors.required">
                                          * Required
                                        </div>
                                        <div *ngIf="loanForm.controls['_issueDate'].errors.pattern">
                                            * Unacceptable format/characters
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="col">
                                <div class="form-control-group">
                                    <label class="label" for="_account">Account:</label>
                                    <nb-select
                                    fullWidth
                                    placeholder="Select Account loan was taken under"
                                    [(selected)]="commonSelectedItem"
                                    outline status="success"
                                    formControlName="_account" required>
                                        <nb-option>Clear</nb-option>

                                        <nb-option
                                            *ngFor="let acc of accountsList"
                                            value="acc._id"> {{acc._accountID}} - {{acc._accountName}} ({{acc._institutionName}})
                                      </nb-option>

                                    </nb-select>

                                    <div *ngIf="loanForm.controls['_account'].invalid && (loanForm.controls['_account'].dirty || loanForm.controls['_account'].touched)" class="alert alert-danger">
                                        <div *ngIf="loanForm.controls['_account'].errors.required">
                                          * account required
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="col">
                                <div class="form-control-group">
                                    <label class="label" for="_amount">Loan Amount : </label>
                                    <input type="number"
                                        nbInput
                                        fullWidth
                                        placeholder="Amount"
                                        formControlName="_amount" required/>

                                    <div *ngIf="loanForm.controls['_amount'].invalid && (loanForm.controls['_amount'].dirty || loanForm.controls['_amount'].touched)" class="alert alert-danger">
                                        <div *ngIf="loanForm.controls['_amount'].errors.required">
                                          *  Required
                                        </div>
                                        <div *ngIf="loanForm.controls['_amount'].errors.minlegth">
                                          * Seems to short
                                        </div>
                                        <div *ngIf="loanForm.controls['_amount'].errors.maxlegth">
                                            * Seems to long
                                        </div>
                                        <div *ngIf="loanForm.controls['_amount'].errors.pattern">
                                            * Unacceptable format/characters
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="col">
                                <div class="form-control-group">
                                    <label class="label" for="repaymentPeriod">Duration of Loan (in months):</label>
                                    <input type="text"
                                    nbInput
                                    fullWidth
                                    name="_repaymentPeriod"
                                    type="number"
                                    id="_repaymentPeriod"
                                    placeholder="Enter duration of Loan (in months)"
                                    formControlName="_repaymentPeriod"/>

                                    <div *ngIf="loanForm.controls['_amount'].invalid && (loanForm.controls['_amount'].dirty || loanForm.controls['_amount'].touched)" class="alert alert-danger">
                                        <div *ngIf="loanForm.controls['_amount'].errors.required">
                                          *  Required
                                        </div>
                                        <div *ngIf="loanForm.controls['_amount'].errors.minlegth">
                                          * Seems to short
                                        </div>
                                        <div *ngIf="loanForm.controls['_amount'].errors.maxlegth">
                                            * Seems unrealistically to long
                                        </div>
                                        <div *ngIf="loanForm.controls['_amount'].errors.pattern">
                                            * Unacceptable format/characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </nb-card-body>
                    <div class="row" [hidden]="notAllowed">
                        <div class="col s12">
                            <button nbButton
                                    fullWidth
                                    class="btn"
                                    type="submit"
                                    [disabled]="loanForm.pristine || loanForm.invalid"
                                    status="success">
                                    Submit
                            </button>
                        </div>
                        <br><br>
                    </div>
                    <br><br>

                </form>

                <p class="title" [hidden]="!notAllowed"> To be able to access this page you must have atleast one active account</p>
            </nb-card>
        </div>
    </div>
  </div>
