@import '../../../../node_modules/@nebular/theme/styles/global/breakpoints';

// :host {

//   nb-layout-column {
//     height: 50vw;
//   }

//   nb-card {
//     margin: 0;
//     height: calc(100vh - 2 * #{20});
//   }

//   .navigation .link {
//     text-decoration: none;

//     .icon {
//       font-size: 2rem;
//     }
//   }

//   nb-card-body {
//     display: flex;
//     width: 100%;
//   }

//   nb-auth-block {
//     margin: auto;
//   }

//   @include media-breakpoint-down(sm) {
//     nb-card {
//       border-radius: 0;
//       height: 100vh;
//     }
//   }

//   /deep/ {
//     nb-layout .layout .layout-container .content .columns nb-layout-column {
//       padding: 20;

//       @include media-breakpoint-down(sm) {
//         padding: 0;
//       }
//     }
//   }
// }


:host nb-card{margin:0;height:calc(100vh - 2 * 2.5rem)}:host .navigation .link{text-decoration:none}:host .navigation .link .icon{font-size:2rem}:host nb-card-body{display:flex;width:100%}:host nb-auth-block{margin:auto}@media (max-width: 767.98px){:host nb-card{border-radius:0;height:100vh}}:host /deep/ nb-layout .layout .layout-container .content .columns nb-layout-column{padding:2.5rem}@media (max-width: 767.98px){:host /deep/ nb-layout .layout .layout-container .content .columns nb-layout-column{padding:0}} 