<div class="container">
    <div class="flex-centered row">
        <div class="col">
            <nb-card>
                <nb-card-header>
                    <nav class="navigation\">
                      <a (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
                      <h2 class="title">Add transaction update</h2>
                    </nav>
                </nb-card-header>

                <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" novalidate>
                    <nb-card-body>
                        <!-- <br>
                        <small class="sub-title">sub_title</small> -->
                        <div class="container">

                            <div class="row">
                                <div class="col s6">
                                    <br>
                                    <div class="form-control-group">
                                        <label class="label" for="transactionPeriodStart">Enter Transaction Period Start Date:</label>

                                        <input  nbInput
                                                fullWidth
                                                placeholder="Enter Transaction Period Start Date"
                                                [nbDatepicker]="transactionPeriodStartDate"
                                                formControlName="transactionPeriodStart"
                                                name="transactionPeriodStart">
                                        <nb-datepicker #transactionPeriodStartDate></nb-datepicker>
                                        <div *ngIf="transactionForm.controls['transactionPeriodStart'].invalid && (transactionForm.controls['transactionPeriodStart'].dirty || transactionForm.controls['transactionPeriodStart'].touched)" class="alert alert-danger">
                                            <div *ngIf="transactionForm.controls['transactionPeriodStart'].errors.required">
                                              * Required.
                                            </div>
                                            <div *ngIf="transactionForm.controls['transactionPeriodStart'].errors.dateError">
                                                * Date cannot be after End Date
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                      <br>
                                      <div class="form-control-group">
                                          <label class="label" for="transactionPeriodEnd">Enter Transaction Period End Date:</label>

                                          <input  nbInput
                                                  fullWidth
                                                  placeholder="Enter Transaction Period End Date"
                                                  [nbDatepicker]="transactionPeriodEnd"
                                                  formControlName="transactionPeriodEnd"
                                                  name="transactionPeriodEnd">
                                          <nb-datepicker #transactionPeriodEnd></nb-datepicker>

                                        <div *ngIf="transactionForm.controls['transactionPeriodEnd'].invalid && (transactionForm.controls['transactionPeriodEnd'].dirty || transactionForm.controls['transactionPeriodEnd'].touched)" class="alert alert-danger">
                                            <div *ngIf="transactionForm.controls['transactionPeriodEnd'].errors.required">
                                              * Required.
                                            </div>
                                            <div *ngIf="transactionForm.controls['transactionPeriodEnd'].errors.dateError">
                                                * Date cannot be before Start Date
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <br>
                                    <div class="form-control-group">
                                        <label class="label" for="amountIn">Sales:</label>
                                        <input  nbInput
                                                fullWidth
                                                autofocus
                                                type="number"
                                                name="amountIn"
                                                id="amountIn"
                                                placeholder="Enter Amount Made"
                                                amounInInsufficient
                                                formControlName="amountIn"/>
                                        <br><br>

                                        <div *ngIf="transactionForm.controls['amountIn'].invalid && (transactionForm.controls['amountIn'].dirty || transactionForm.controls['amountIn'].touched)" class="alert alert-danger">
                                          <div *ngIf="transactionForm.controls['amountIn'].errors.required">
                                            * Required.
                                          </div>
                                          <div *ngIf="transactionForm.controls['amountIn'].errors.valueAdditionError">
                                              * Value Error
                                          </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-control-group">
                                        <label class="label" for="oneOffCost">Investments:</label>
                                        <input  nbInput
                                                fullWidth
                                                autofocus
                                                type="number"
                                                name="oneOffCost"
                                                id="oneOffCost"
                                                placeholder="Enter investments"
                                                formControlName="oneOffCost" required/>
                                        <br><br>

                                        <div *ngIf="transactionForm.controls['oneOffCost'].invalid && (transactionForm.controls['oneOffCost'].dirty || transactionForm.controls['oneOffCost'].touched)" class="alert alert-danger">
                                          <div *ngIf="transactionForm.controls['oneOffCost'].errors.required">
                                              Investments is required.
                                          </div>
                                          <div *ngIf="transactionForm.controls['oneOffCost'].errors.valueAdditionError">
                                              Values Entered have error
                                          </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-control-group">
                                        <label class="label" for="recurrentExpenditure">Recurrent Expenditure:</label>
                                        <input  nbInput
                                                fullWidth
                                                autofocus
                                                type="number"
                                                name="recurrentExpenditure"
                                                id="recurrentExpenditure"
                                                placeholder="Enter recurrent"
                                                formControlName="recurrentExpenditure" required/>
                                        <br><br>

                                        <div *ngIf="transactionForm.controls['recurrentExpenditure'].invalid && (transactionForm.controls['recurrentExpenditure'].dirty || transactionForm.controls['recurrentExpenditure'].touched)" class="alert alert-danger">
                                          <div *ngIf="transactionForm.controls['recurrentExpenditure'].errors.required">
                                              Recurrent Expenditure is required.
                                          </div>
                                          <div *ngIf="transactionForm.controls['recurrentExpenditure'].errors.valueAdditionError">
                                              Values Entered have error
                                          </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-control-group">
                                        <label class="label" for="savingAmount">Saving Amount:</label>
                                        <input  nbInput
                                                fullWidth
                                                autofocus
                                                type="number"
                                                name="savingAmount"
                                                id="savingAmount"
                                                placeholder="Enter amount saved"
                                                formControlName="savingAmount" required/>
                                        <br><br>

                                        <div *ngIf="transactionForm.controls['savingAmount'].invalid && (transactionForm.controls['savingAmount'].dirty || transactionForm.controls['savingAmount'].touched)" class="alert alert-danger">
                                          <div *ngIf="transactionForm.controls['savingAmount'].errors.required">
                                              savingAmount is required.
                                          </div>
                                          <div *ngIf="transactionForm.controls['savingAmount'].errors.valueAdditionError">
                                              Values Entered have error
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <br>
                                    <div class="form-control-group">
                                        <label class="label" for="loanRepayment">Loan Repayment:</label>
                                        <input  nbInput
                                                fullWidth
                                                autofocus
                                                type="number"
                                                name="loanRepayment"
                                                id="loanRepayment"
                                                placeholder="Enter recurrent expenditure"
                                                formControlName="loanRepayment" required/>
                                        <br><br>

                                        <div *ngIf="transactionForm.controls['loanRepayment'].invalid && (transactionForm.controls['loanRepayment'].dirty || transactionForm.controls['loanRepayment'].touched)" class="alert alert-danger">
                                          <div *ngIf="transactionForm.controls['loanRepayment'].errors.required">
                                              loanRepayment is required.
                                          </div>
                                          <div *ngIf="transactionForm.controls['loanRepayment'].errors.valueAdditionError">
                                              Values Entered have error
                                          </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col">
                                    <br>
                                    <div class="form-control-group">
                                        <label class="label" for="currentDebt">Acquired debt:</label>
                                        <input  nbInput
                                                fullWidth
                                                autofocus
                                                type="number"
                                                name="currentDebt"
                                                id="currentDebt"
                                                placeholder="Enter currentDebt"
                                                formControlName="currentDebt" required/>
                                        <br><br>

                                        <div *ngIf="transactionForm.controls['currentDebt'].invalid && (transactionForm.controls['currentDebt'].dirty || transactionForm.controls['currentDebt'].touched)" class="alert alert-danger">
                                          <div *ngIf="transactionForm.controls['currentDebt'].errors.required">
                                              Acquired debt is required.
                                          </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </nb-card-body>
                    <div class="row">
                        <div class="col s12">
                            <button nbButton
                                    fullWidth
                                    class="btn"
                                    type="submit"
                                    [disabled]="transactionForm.pristine || transactionForm.invalid"
                                    status="success">
                                    Submit
                            </button>
                        </div>
                    </div>

                </form>
            </nb-card>
        </div>
    </div>
</div>


<!--

  <div class="col-6">

  <br>

  </div>
  <div class="col-6">


    <br><br>
    <button nbButton
            fullWidth
            type="submit"
            [disabled]="transactionForm.pristine || transactionForm.invalid"
            status="success">
      Submit
    </button>
  </div>


-->
<!--
<div class="col">

    <div class="form-control-group">
        <label class="label" for="transactionPeriodStart">Enter Transaction Period Start Date:</label>

        <input  nbInput
                fullWidth
                placeholder="Enter Transaction Period Start Date"
                [nbDatepicker]="transactionPeriodStartDate"
                formControlName="transactionPeriodStart"
                name="transactionPeriodStart">
        <nb-datepicker #transactionPeriodStartDate></nb-datepicker>
    </div>

    <br>
    <div class="form-control-group">
        <label class="label" for="amountIn">Amount In:</label>
        <input  nbInput
                fullWidth
                autofocus
                name="amountIn"
                id="amountIn"
                placeholder="Enter Amount Made"
                formControlName="amountIn" required/>
        <br><br>

        <div *ngIf="transactionForm.controls['amountIn'].invalid && (transactionForm.controls['amountIn'].dirty || transactionForm.controls['amountIn'].touched)" class="alert alert-danger">
          <div *ngIf="transactionForm.controls['amountIn'].errors.required">
            amountIn is required.
          </div>
          <div *ngIf="transactionForm.controls['amountIn'].errors.pattern">
            Required pattern : example@mail.com
          </div>
        </div>
    </div>

</div>

<div class="col">



    <br>
    <div class="form-control-group">
        <label class="label" for="email">Email address:</label>
        <input  nbInput
                fullWidth
                autofocus
                name="amountIn"
                id="amountIn"
                placeholder="Enter total amount "
                formControlName="amountIn"
                required/>
        <br><br>

        <div *ngIf="transactionForm.controls['amountIn'].invalid && (transactionForm.controls['amountIn'].dirty || transactionForm.controls['amountIn'].touched)" class="alert alert-danger">
          <div *ngIf="transactionForm.controls['amountIn'].errors.required">
            Amount In is required.
          </div>
        </div>

    </div>
        <input nbInput placeholder="Min Max Picker" [nbDatepicker]="picker">
        <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
</div>
-->
