<article>
    <div class="row">
      <div class="col-8">
          <h3> {{organisation._organisationName}}</h3>
          <p> Loaction: {{organisation._location}}</p>
          <p> Contact: {{organisation._contact}}</p>
          <blockquote>
            <span>&#8221;</span>
            {{organisation._description}}
            <span>&#8221;</span>
          </blockquote>
      </div>
      <div class="col-4">
          <p class="top"></p>
          <ngx-scorecard [creditScoreDataset]=organisation._creditScoreDataset></ngx-scorecard>
        </div>
    </div>
  </article>
