@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  $padding: 1rem;

  nb-card-body {
    overflow: hidden;
    padding: $padding;
  }

  .chart{
    top:-10%;
    position: absolute;
    left: 10px;
    width: 40%;
    padding-top: -20px;
  }

  .info {
    margin-left: 55%;
    padding-top: 1.5rem;
    color: nb-theme(color-fg);
  }

  .value {
    font-family: nb-theme(font-secondary);
    font-size: 4rem;
    font-weight: nb-theme(font-weight-bold);
    color: nb-theme(color-fg-heading);
  }

  .details {
    font-size: 1.25rem;
    font-weight: nb-theme(font-weight-bolder);
    line-height: 1;
    span {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }
  }

  .text-hint {
    font-size: 1rem;
  }

  @include nb-for-theme(cosmic) {
    color: nb-theme(color-fg-heading);

    .value {
      color: nb-theme(color-fg-highlight);
    }

    .details span {
      color: nb-theme(color-fg);
    }
  }

  @include media-breakpoint-down(xs) {
    .value {
      font-size: 1.75rem;
    }
  }
}
