@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/typography/typography';

  @include nb-install-component() {

  .title {
    font-size: 2rem;
  }

  .value {
    margin-top: 2rem;
    font-size: 2rem;
    color: nb-theme(color-success);
  }

  .bottom
  {
      position: absolute;
      bottom: 20px;
  }

  .top
  {
      position: absolute;
      top: 20px;
  }
  .left
  {
    position: absolute;
    left: 20px;
  }
  .right
  {
    position: absolute;
    right: 20px;
  }

  .date
  {
    font-size: 2rem;
  }

  .delta {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      right: 100%;
      margin-right: 0.7rem;
      @include nb-rtl(margin-right, 0);
      @include nb-rtl(margin-left, 0.7rem);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    &.down {
      color: text-danger();

      &::before {
        border-top: 6px solid text-danger();
      }
    }

    &.up {
      color: text-success();

      &::before {
        border-bottom: 6px solid text-success();
      }
    }
  }

  @include nb-for-theme(cosmic) {
    .user-activity-list li {
      &:hover {
        &::before {
          $color-top: nb-theme(btn-success-bg);
          $color-bottom: btn-hero-success-left-color();

          background-image: linear-gradient(to top, $color-top, $color-bottom);
          box-shadow: 0 0 16px -2px btn-hero-success-middle-color();
        }
      }
    }

    .delta {
      &.down, &.up {
        color: nb-theme(color-fg-heading);
      }
    }
  }
}

