<article>
  <div class="row">
    <div class="col-3">
      <p class= "top left date"> Period Start : <b>{{transactionHistory._transactionPeriodStart | date }} </b> </p>

      <p class= "bottom left date"> Period End :<b> {{transactionHistory._transactionPeriodEnd | date }}</b> </p>
    </div>

    <div class="col-3">
        <br><br><br><br>
        <div class="row">
            <div class="amount-in">
                <div class="title "> <b>Amount In &nbsp;</b> </div>
                <div class="value "> {{transactionHistory._amountIn}} </div>
            </div>
            <br>
            <div class="amount-in-percentages">
                <div class="title"> <b> Change, %</b></div>
                <div class="delta value"
                    [class.up]="transactionHistory.saleChange.sign"
                    [class.down]="!transactionHistory.saleChange.sign">
                    {{transactionHistory.saleChange.value}}%
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="current-debt">
                <div class="title "> <b>Current Debt &nbsp;</b> </div>
                <div class="value ">{{ transactionHistory._currentDebt }}</div>
            </div>
            <br>
            <div class="current-debt-percentages">
                <div class="title "><b> Change, %</b></div>
                <div class="delta value"
                    [class.up]="transactionHistory.debtChange.sign"
                    [class.down]="!transactionHistory.debtChange.sign">
                  {{ transactionHistory.debtChange.value }}%
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
      <!-- Pie chart dist -->
      <div echarts [options]="options" class="echart"></div>
      <p> * All amouns are in Kenyas shillings </p>
    </div>

  </div>
</article>
