<div class="row">
    <div class="col-md-12">
      <nb-card>
          <nb-card-header>
              <nav class="navigation\">
                <a href="/login" (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
              </nav>
          </nb-card-header>
          <nb-card-body>

            <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
              <h2 class="title">Password Reset</h2>

              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
                <br>
                  <div class="form-control-group">
                      <label class="label" for="input-email">Email address:</label>
                      <input  nbInput 
                              fullWidth
                              autofocus
                              name="email"
                              id="email"
                              placeholder="Email address"
                              formControlName="email" required>
                              <br><br>

                        <div *ngIf="resetPasswordForm.controls['email'].invalid && (resetPasswordForm.controls['email'].dirty || resetPasswordForm.controls['email'].touched)" class="alert alert-danger">
                          <div *ngIf="resetPasswordForm.controls['email'].errors.required">
                            Email is required.
                          </div>
  
                          <div *ngIf="resetPasswordForm.controls['email'].errors.pattern">
                            Required pattern : example@mail.com
                          </div> 
  
                        </div>   
                                           
                  </div>

                  <br><br>
                  <button nbButton
                    fullWidth
                    [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid" 
                    status="success">
                    Reset Password
                  </button>
            </form>

            <br><br><br>
            <section class="register-action" aria-label="Register">
                Don't have an account? <a class="text-link" routerLink="/register">Register</a>
              </section>

            </div>

          </nb-card-body>
      </nb-card>
  </div>
</div>