.flex-centered {
    margin: auto;
  }

  nb-card {
    margin: 0;
    height: 90vh;
  }

  nb-card-body {
    display: flex;
    width: 100%;
    height: 100%

  }
  
  .title {
    text-align: center;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .btn {
    margin-bottom: 2rem;
  }


