
<div class="row">
    <div class="col-md-12">
        <button class = "float-right" nbButton (click)="addWatchdog()" shape="semi-round" outline status="info">Add watchdog</button>
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-md-12">
        <nb-card class="own-scroll">
            <nb-card-header class="text-center">
                Watchdogs
            </nb-card-header>
            <nb-list    nbInfiniteList
                        [threshold]="100"
                        (bottomThreshold)="loadNext(cardData)">

            <nb-list-item *ngFor="let items of cardData.items">
                <creditee-watchdog-list-item (receiveWatchdogRemoveEvent)="receiveWatchdogRemove($event)" [watchdog]="items"></creditee-watchdog-list-item>
            </nb-list-item>
            <nb-list-item *ngFor="let _ of cardData.placeholders">
                <ngx-list-item-placeholder></ngx-list-item-placeholder>
            </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>

