:host {
    display: flex;
  }
  
  nb-card {
    flex: 1 1 45%;
    margin: 0 2.5%;
  
    &.own-scroll {
      height: 30rem;
    }
  }

  .float-right
  {
    float:right;
  }
  .text-center
  {
    text-align: center;
  }
