
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <nb-card class="own-scroll">
              <nb-card-header class="text-center">
                Credit Score Distribution
              </nb-card-header>
              <nb-card-body>
                <creditor-dashboard-crediscoredist-bar
                    [hidden]="!ChartDataReady"
                    [results]="results">
                </creditor-dashboard-crediscoredist-bar>

                <p [hidden]="ChartDataReady"> No data to render </p>
              </nb-card-body>
          </nb-card>
      </div>

      <!-- TODO: FInalize on css layout -->
      <div class="col-md-4">
          <nb-card >
              <nb-card-header class="text-center">
                Credit Score Statistics
              </nb-card-header>
              <nb-card-body
                *ngIf="ChartDataReady">
                <div class="row">
                  <div class="col">
                      <p>Highest Score : {{creditStatistics.high}} </p>
                  </div>
                  <div class="col">
                      <p>Lowest Score :{{creditStatistics.low}} </p>
                  </div>
                </div>
                <div class="row">
                    <p>Mean : {{creditStatistics.mean}} </p>
                </div>
                <div class="row">
                    <p>Count : {{creditStatistics.count}} </p>
                  </div>
              </nb-card-body>

              <nb-card-body
                  *ngIf="!ChartDataReady">
                  <p> No data to render </p>
                </nb-card-body>
          </nb-card>
      </div>
  </div>
</div>
