<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Credit-<span>web</span></div>
  </div>
</div>

<div class="header-container">
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">

    <nb-action *ngIf="user" >
        <nb-user
          [nbContextMenu]="userMenu"
          nbContextMenuTag="user-account-context-menu"
          showInitials	
          inverse
          name="{{user._name}}">
        </nb-user>
    </nb-action>

  </nb-actions>
</div>
