<nb-card>
    <nb-card-header>Select Watchdog</nb-card-header>
    <nb-card-body>

        <nb-select 
            type="number" 
            [(ngModel)]="result" 
            (ngModelChange)="display()"
            fullWidth	
            multiple 
            placeholder="Select Watchdog" 
            shape="semi-round">
            <nb-option>Clean</nb-option>
            <nb-option 
              *ngFor="let org of dogs" 
              [value]="org._id">{{org._organisationName}}
            </nb-option>
        </nb-select>

    </nb-card-body>
    <nb-card-footer>
      <button 
          class ="bt-left" 
          nbButton 
          status="danger" 
          (click)="cancel()">Cancel
      </button>
      <button 
          class ="bt-right"                     
          type="submit"
          nbButton status="success" 
          (click)="onSubmit()">Submit
      </button>
    </nb-card-footer>

  </nb-card>
  