<div class="row">
    <div class="col-md-12">
      <nb-card>
          <nb-card-header>
              <nav class="navigation\">
                <a href="/welcome" (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
              </nav>
          </nb-card-header>
          <nb-card-body>

            <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
              <h2 class="title">Login</h2>
              <small class="sub-title"> {{sub_title}}</small>

              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                  <br>
                  <div class="form-control-group">
                      <label class="label" for="email">Email address:</label>
                      <input  nbInput
                              fullWidth
                              autofocus
                              name="email"
                              id="email"
                              placeholder="Email address"
                              formControlName="email" required/>
                      <br><br>

                      <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert alert-danger">
                        <div *ngIf="loginForm.controls['email'].errors.required">
                          Email is required.
                        </div>
                        <div *ngIf="loginForm.controls['email'].errors.pattern">
                          Required pattern : example@mail.com
                        </div>
                      </div>
                  </div>

                  <br>
                  <div class="form-control-group">
                      <label class="label" for="password">Password:</label>
                      <input nbInput
                            fullWidth
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Password"
                            formControlName="password" required/>
                      <br><br>

                      <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
                        <div *ngIf="loginForm.controls['password'].errors.required">
                          Password is required.
                        </div>
                        <div *ngIf="loginForm.controls['password'].errors.minLength">
                          Minimum length is 6. Try again
                        </div>
                        <div *ngIf="loginForm.controls['password'].errors.pattern">
                            Required: Atleast one capital letter,small letter and digit
                          </div>
                      </div>

                  </div>

                  <br>
                  <div class="form-control-group accept-group">
                    <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
                    <a class="forgot-password" routerLink="/reset-password">Forgot Password?</a>
                  </div>

                  <br><br>
                  <button nbButton
                    fullWidth
                    type="submit"
                    [disabled]="loginForm.pristine || loginForm.invalid"
                    status="success">
                    Log In
                  </button>
              </form>


              <br><br><br>
              <section class="register-action" aria-label="Register">
                  Don't have an account? <a class="text-link" routerLink="/register">Register</a>
              </section>

            </div>

          </nb-card-body>
      </nb-card>
  </div>
</div>
