<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Business Health Statistics</nb-card-header>

            <nb-card-body>
                <ngx-charts-advanced-pie-chart
                    *ngIf="ChartDataReady"
                    [scheme]="colorScheme"
                    [results]="results">
                </ngx-charts-advanced-pie-chart>

                <p [hidden]="ChartDataReady"> No data to render </p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
            <nb-card>
                <nb-card-header>Debt Statistics </nb-card-header>
                <nb-card-body>
                    <div
                        *ngIf="ChartDataReady"
                        echarts [options]="options"
                        class="echart">
                    </div>

                    <p [hidden]="ChartDataReady"> No data to render </p>
                </nb-card-body>
            </nb-card>
        </div>
</div>
