<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
            <nav class="navigation\">
                <a href="/login"  class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
            </nav>
        </nb-card-header>

        <nb-card-body>
          <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
              <h2 class="title">Registration</h2>
              <small class="sub-title">One for all</small>
          </div>

          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="row">

            <div class="col-lg-6">
              <h3 class="sub-title">Personal Infromation</h3>
              <br>

              <div class="row full-name-inputs">
                  <div class="col-sm-6 input-group form-control-group">
                      <label class="label" for="first_name">First Name</label>
                      <input type="text"
                          nbInput
                          fullWidth
                          placeholder="First Name"
                          formControlName="first_name" required/>

                      <div *ngIf="registrationForm.controls['first_name'].invalid && (registrationForm.controls['first_name'].dirty || registrationForm.controls['first_name'].touched)" class="alert alert-danger">
                          <div *ngIf="registrationForm.controls['first_name'].errors.required">
                            * First Name required
                          </div>
                          <div *ngIf="registrationForm.controls['first_name'].errors.minlegth">
                            * Name seems to short
                          </div>
                          <div *ngIf="registrationForm.controls['first_name'].errors.maxlegth">
                              * Name seems to long
                          </div>
                          <div *ngIf="registrationForm.controls['first_name'].errors.pattern">
                              * Unacceptable format/characters
                          </div>

                      </div>
                  </div>
                  <div class="col-sm-6 input-group form-control-group">
                      <label class="label" for="last_name">Last Name</label>
                      <input type="text"
                          nbInput
                          fullWidth
                          placeholder="Last Name"
                          formControlName="last_name" required/>

                      <div *ngIf="registrationForm.controls['last_name'].invalid && (registrationForm.controls['last_name'].dirty || registrationForm.controls['last_name'].touched)" class="alert alert-danger">
                          <div *ngIf="registrationForm.controls['last_name'].errors.required">
                              * Last Name required
                          </div>
                          <div *ngIf="registrationForm.controls['last_name'].errors.minlength">
                              * Name seems to short
                          </div>
                          <div *ngIf="registrationForm.controls['last_name'].errors.maxlegth">
                              * Name seems to long
                          </div>
                          <div *ngIf="registrationForm.controls['last_name'].errors.pattern">
                              * Unacceptable format/characters
                          </div>
                      </div>
                </div>
              </div>
              <br>

              <div class="row full-name-inputs">

                  <div class="col-sm-6 input-group form-control-group">
                      <label class="label" for="phoneNumber">Phone Number</label>
                      <input type="text"
                          nbInput
                          fullWidth
                          placeholder="Enter phone Number"
                          formControlName="phoneNumber" required/>

                      <div *ngIf="registrationForm.controls['phoneNumber'].invalid && (registrationForm.controls['phoneNumber'].dirty || registrationForm.controls['phoneNumber'].touched)" class="alert alert-danger">
                          <div *ngIf="registrationForm.controls['phoneNumber'].errors.required">
                              * Phone number required
                          </div>

                          <div *ngIf="registrationForm.controls['phoneNumber'].errors.pattern">
                              * Expected 07xxxxxxxxxx
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="col-sm-6 input-group form-control-group">
                    <label class="label" for="id_number">Enter ID Number/Passport</label>
                    <input type="number"
                        nbInput
                        fullWidth
                        placeholder="Enter ID Number/Passport"
                        formControlName="id_number" required/>

                    <div *ngIf="registrationForm.controls['id_number'].invalid && (registrationForm.controls['id_number'].dirty || registrationForm.controls['id_number'].touched)" class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['id_number'].errors.required">
                            * ID Number/Passport required
                        </div>
                        <div *ngIf="registrationForm.controls['id_number'].errors.minlength">
                            * ID Number/Passport seems to short
                        </div>
                        <div *ngIf="registrationForm.controls['id_number'].errors.maxlegth">
                            * ID Number/Passport seems to long
                        </div>
                        <div *ngIf="registrationForm.controls['id_number'].errors.pattern">
                            * Unacceptable format/characters
                        </div>
                    </div>

                  </div>
              </div>
              <br>

              <div class="form-control-group">
                  <label class="label" for="gender">Select gender</label>
                  <nb-select
                  fullWidth
                  placeholder="Select gender"
                  [(selected)]="commonSelectedItem"
                  outline status="success"
                  formControlName="gender" required>
                  <nb-option>Clear</nb-option>
                  <nb-option value="male">Male</nb-option>
                  <nb-option value="female">Female</nb-option>
                  <nb-option value="prefer not to say">Prefer not to say</nb-option>
                  </nb-select>

                  <div *ngIf="registrationForm.controls['gender'].invalid && (registrationForm.controls['gender'].dirty || registrationForm.controls['gender'].touched)" class="alert alert-danger">
                      <div *ngIf="registrationForm.controls['gender'].errors.required">
                        * Gender required
                      </div>
                  </div>
              </div>
              <br>

              <div class="form-control-group">
                  <label class="label" for="email">Occupation:</label>
                  <input  nbInput
                      fullWidth
                      autofocus
                      name="email"
                      id="occupation"
                      placeholder="Enter occupation"
                      formControlName="occupation" required/>

                  <div *ngIf="registrationForm.controls['occupation'].invalid && (registrationForm.controls['occupation'].dirty || registrationForm.controls['occupation'].touched)" class="alert alert-danger">
                      <div *ngIf="registrationForm.controls['occupation'].errors.required">
                        * occupation is required.
                      </div>
                      <div *ngIf="registrationForm.controls['occupation'].errors.minlength">
                          * Seems to short
                      </div>
                      <div *ngIf="registrationForm.controls['occupation'].errors.maxlegth">
                          * Seems to long
                      </div>
                      <div *ngIf="registrationForm.controls['occupation'].errors.pattern">
                          * Unacceptable format/characters
                      </div>
                  </div>
              </div>
              <br>
              <div class="form-control-group">
                  <label class="label" for="email">Email address:</label>
                  <input  nbInput
                      fullWidth
                      autofocus
                      name="email"
                      id="email"
                      placeholder="Email address"
                      formControlName="email" required/>

                  <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)" class="alert alert-danger">
                      <div *ngIf="registrationForm.controls['email'].errors.required">
                        * Email is required.
                      </div>
                      <div *ngIf="registrationForm.controls['email'].errors.pattern">
                        * Required pattern : example@mail.com
                      </div>
                  </div>
              </div>
              <br>

              <div class="row full-name-inputs">

                  <div class="col-sm-6 input-group form-control-group">
                      <label class="label" for="password">Password:</label>
                      <input nbInput
                          fullWidth
                          name="password"
                          type="password"
                          id="password"
                          placeholder="Enter Password"
                          formControlName="password" required/>

                      <div *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)" class="alert alert-danger">
                          <div *ngIf="registrationForm.controls['password'].errors.required">
                            * Password is required.
                          </div>
                          <div *ngIf="registrationForm.controls['password'].errors.minlength">
                            * Minimum length is 6. Try again
                          </div>
                          <div *ngIf="registrationForm.controls['password'].errors.maxlegth">
                              * Cannot exceed 40 cahracters
                          </div>
                          <div *ngIf="registrationForm.controls['password'].errors.pattern">
                              * Expected : Atleast one capital, small and digit
                          </div>
                          <div *ngIf="registrationForm.controls['password'].errors.MatchPassword">
                            * Passwords do not match
                          </div>
                      </div>

                  </div>
                  <br>
                  <div class="col-sm-6 input-group form-control-group">
                      <label class="label" for="password-cofirmation">Confirm Password:</label>
                      <input nbInput
                          fullWidth
                          name="password-confirmation"
                          type="password"
                          id="password-confirmation"
                          placeholder="Repeat Password"
                          formControlName="password_confirmation" required/>

                      <div *ngIf="registrationForm.controls['password_confirmation'].invalid && (registrationForm.controls['password_confirmation'].dirty || registrationForm.controls['password_confirmation'].touched)" class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['password_confirmation'].errors.required">
                          * Password is required.
                        </div>
                      </div>
                  </div>
              </div>
              <br>
            </div>

            <div class="col-lg-6">
              <h3 class="sub-title">Company Information</h3>
              <br>
              <div class="row full-name-inputs">
                  <div class="col-sm-6 input-group form-cinput-ontrol-group">
                    <label class="label" for="company_registration">Registration Number</label>
                    <input type="text"
                        nbInput
                        fullWidth
                        name="company_registration"
                        type="text"
                        id="company_registration"
                        formControlName="company_registration"
                        placeholder="Enter company registration number">

                    <div *ngIf="registrationForm.controls['company_registration'].invalid && (registrationForm.controls['company_registration'].dirty || registrationForm.controls['company_registration'].touched)" class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['company_registration'].errors.required">
                          * Company registration required
                        </div>
                        <div *ngIf="registrationForm.controls['company_registration'].errors.minlength">
                          * Something seems wrong with the value - too short
                        </div>
                        <div *ngIf="registrationForm.controls['company_registration'].errors.pattern">
                            * Expected [ AA/000/000 ]

                        </div>
                        <div *ngIf="registrationForm.controls['company_registration'].errors.registrationTaken">
                          * Company exists
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-6 input-group form-control-group">
                      <label class="label" for="company_name">Company Name</label>
                      <input type="text"
                          nbInput
                          fullWidth
                          name="company_name"
                          type="text"
                          id="company_name"
                          placeholder="Enter company name"
                          formControlName="company_name" required/>

                      <div *ngIf="registrationForm.controls['company_name'].invalid && (registrationForm.controls['company_name'].dirty || registrationForm.controls['company_name'].touched)" class="alert alert-danger">
                          <div *ngIf="registrationForm.controls['company_name'].errors.required">
                            * Company name required
                          </div>
                          <div *ngIf="registrationForm.controls['company_name'].errors.pattern">
                              * Unacceptable format/characters
                            </div>
                      </div>
                  </div>
              </div>
              <br>

              <div class="row full-name-inputs">
                  <div class="col-sm-6 input-group form-cinput-ontrol-group">
                    <label class="label" for="inceptionDate">Incorporation Date</label>
                    <input type="text"
                        nbInput
                        fullWidth
                        name="inceptionDate"
                        type="text"
                        id="inceptionDate"
                        placeholder="Enter the date the company was founded"
                        formControlName="inceptionDate"
                        [nbDatepicker]="formpicker" required>
                        <nb-datepicker #formpicker [min]="min" [max]="max"></nb-datepicker>

                    <div *ngIf="registrationForm.controls['inceptionDate'].invalid && (registrationForm.controls['inceptionDate'].dirty || registrationForm.controls['inceptionDate'].touched)" class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['inceptionDate'].errors.required">
                          * Company incoparation date required
                        </div>
                        <div *ngIf="registrationForm.controls['inceptionDate'].errors.pattern">
                            * Unacceptable format/characters
                          </div>
                    </div>
                  </div>

                  <div class="col-sm-6 input-group form-control-group">
                      <label class="label" for="location">Location</label>
                      <input type="text"
                          nbInput
                          fullWidth
                          name="location"
                          type="text"
                          id="location"
                          placeholder="Enter company location"
                          formControlName="location" required/>

                      <div *ngIf="registrationForm.controls['location'].invalid && (registrationForm.controls['location'].dirty || registrationForm.controls['location'].touched)" class="alert alert-danger">
                          <div *ngIf="registrationForm.controls['location'].errors.required">
                            * Company location required
                          </div>

                          <div *ngIf="registrationForm.controls['location'].errors.pattern">
                              * Unacceptable format/characters
                            </div>
                      </div>
                  </div>
              </div>
              <br>

              <div class="row full-name-inputs">
                <div class="col-sm-6 input-group form-control-group">
                    <label class="label" for="company_phone_number">Phone Number</label>
                    <input type="text"
                        nbInput
                        fullWidth
                        placeholder="Phone Number"
                        formControlName="company_phone_number" required/>

                    <div *ngIf="registrationForm.controls['company_phone_number'].invalid && (registrationForm.controls['company_phone_number'].dirty || registrationForm.controls['company_phone_number'].touched)" class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['company_phone_number'].errors.required">
                          * Company Phone Number required
                        </div>
                        <div *ngIf="registrationForm.controls['company_phone_number'].errors.pattern">
                            * Expected 0000 (only digits ( not more than 10 or less than 5)
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 input-group form-control-group">
                    <label class="label" for="company_email">E-mail</label>
                    <input type="text"
                        nbInput
                        fullWidth
                        placeholder="Company E-mail"
                        formControlName="company_email" required/>

                    <div *ngIf="registrationForm.controls['company_email'].invalid && (registrationForm.controls['company_email'].dirty || registrationForm.controls['company_email'].touched)" class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['company_email'].errors.required">
                            * Email required
                        </div>
                        <div *ngIf="registrationForm.controls['company_email'].errors.minlength">
                            * E-mail seems to short
                        </div>
                        <div *ngIf="registrationForm.controls['company_email'].errors.pattern">
                            * Unacceptable format/characters
                        </div>
                    </div>
              </div>
            </div>


              <br>

              <div class="form-control-group">
                  <label class="label" for="company_desc">Describe the business:</label>
                  <textarea rows="4"
                      nbInput
                      fullWidth
                      name="company_desc"
                      type="text"
                      id="company_desc"
                      placeholder="Describe the business"
                      formControlName="company_desc" required></textarea>

                  <div *ngIf="registrationForm.controls['company_desc'].invalid && (registrationForm.controls['company_desc'].dirty || registrationForm.controls['company_desc'].touched)" class="alert alert-danger">
                      <div *ngIf="registrationForm.controls['company_desc'].errors.required">
                        * A description of the company is required
                      </div>
                      <div *ngIf="registrationForm.controls['company_desc'].errors.minlength">
                          * Description is too short
                      </div>
                      <div *ngIf="registrationForm.controls['company_desc'].errors.pattern">
                          * Unacceptable format/characters
                        </div>

                  </div>
              </div>

              <br>
              <div class="facility-type">
                  <label class="label" for="facility-type">Which of the following best describes your business:</label>
                  <nb-radio-group formControlName="businessType">
                    <nb-radio
                      [value]="'creditor'">
                      A credit facilitating institution ( i.e sacco,bank, self help group-chama )
                    </nb-radio>
                    <nb-radio
                      [value]="'creditee'">
                      A consumer of credit facilities ( a business that is not involved in giving credit)
                    </nb-radio>
                  </nb-radio-group>
                </div>
            </div>

            <br><br><br><br><br>
            <button class="btn"
              [disabled]="registrationForm.pristine || registrationForm.invalid"
              nbButton
              fullWidth
              status="success">
              Sign Up
            </button>

          </div>
        </form>

        <section class="login_link" aria-label="login">
            Already have an account? <a class="text-link" routerLink="/login">Log In</a>
        </section>


        </nb-card-body>
      </nb-card>
    </div>

  </div>
