<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <nav class="navigation\">
                <a (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
                </nav>
            </nb-card-header>
        </nb-card>
    </div>
</div>
<div class="row" >
    <div class="col-lg-9">
        <nb-card>
            <nb-card-header>Financial Statistics </nb-card-header>
            <nb-card-body>
                <div echarts [options]="options" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-3">
        <ngx-scorecard [creditScoreDataset]="creditscoreDataset" ></ngx-scorecard>

    </div>
</div>
<div class="row" >
    <div class="col">
        <nb-card>
            <nb-card-header>Organisation Details </nb-card-header>
            <nb-card-body>
                <p> Name :{{organisationDetails._organisationName}} </p>
                <p> Location: {{organisationDetails._location}} </p>
                <p> Founded: {{organisationDetails._inceptionDate}} </p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col">
        <nb-card>
            <nb-card-header>Manager Details </nb-card-header>
            <nb-card-body>
                <p> Name :{{managerDetails._name }} </p>
                <p> Occupation: {{managerDetails._occupation }}</p>
                <p> Contact: {{managerDetails._phoneNumber }} or {{managerDetails._email }} </p>
            </nb-card-body>
        </nb-card>
    </div>

</div>
