<!-- TODO: finalize data render (i.e back button) -->
<div class="row">
    <div class="col">
        <nb-card>
            <nb-card-header>
                <nav class="navigation\">
                    <a (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
                </nav>
            </nb-card-header>


            <nb-card-body>
                <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
                    <h2 class="title">Profile Details</h2>
                </div>

                <div class="col">
                    <p> Name :{{currentUser._name }} </p>
                    <p> Occupation: {{currentUser._occupation }}</p>
                    <p> Contact: {{currentUser._phoneNumber }} or {{currentUser._email }} </p>
                    <p> Memeber Since : {{currentUser._created |date}} </p>
                </div>

                <div class="col">
                  <!--TODO : Update and fix back link -->
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>
