<div class="row">
    <div class="col-md-12">
      <nb-card>
          <nb-card-body>

            <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <h1 class="title">Welcome </h1>
                <h2 class="sub-title">One stop for all your credit data needs</h2>
                <button (click)="goToHome()" type="button" class="btn btn-block btn-primary">
                  Proceed
                </button> 
            </div>

          </nb-card-body>
      </nb-card>
  </div>
</div>