<div class="container">
    <div class="flex-centered row">
        <div class="col">
            <nb-card>
                <nb-card-header>
                    <nav class="navigation\">
                      <a (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
                      <h2 class="title">Settings</h2>
                    </nav>
                </nb-card-header>

                <nb-card-body>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                          <p> <b>CURRENT WEIGHT BREAKDOWN </b> </p>
                          <table id="t01">
                            <tr>
                              <th>Item</th>
                              <th>Weight</th>
                            </tr>
                            <tr>
                              <td>Payment History</td>
                              <td>{{ph}}</td>
                            </tr>
                            <tr>
                              <td>Amount Owed</td>
                              <td>{{ao}}</td>
                            </tr>
                            <tr>
                              <td>Length of Credit</td>
                              <td>{{lch}}</td>
                            </tr>
                            <tr>
                              <td>New Credit</td>
                              <td>{{nc}}</td>
                            </tr>
                            <tr>
                              <td>Type of Credit</td>
                              <td>{{tcu}}</td>
                            </tr>
                            <tr>
                              <td> <b>TOTAL</b></td>
                              <td> <b>{{total}}</b> </td>
                            </tr>
                          </table>
                          <br>
                          <p> <b>NOTE:TOTAL COLLECTIVE WEIGHT SHOULD BE 100</b></p>
                          <br>
                          <p> <b>Payment History :</b> Default weight id 35%. It is a measure of how well client is able to repay loans</p>
                          <br>
                          <p> <b>Amount Owed: </b>Default weight is 30%. Amount of credit utulzed by a organisation</p>
                          <br>
                          <p> <b>Length of Credit History.</b> Answers the question how long has the organisation </p>
                          <br>
                          <p> <b>New Credit. </b>Used to measure financial pressure an organisation may be under. </p>
                          <br>
                          <p> <b>Type of cerdit.</b> It is an attractive trait in determining the mix within a business financials,more is desired </p>

                        </div>

                        <div class="col-lg-6">
                            <form [formGroup]="settingForm" (ngSubmit)="onSubmit()" novalidate  >
                                <div class="form-control-group">
                                    <label class="label" for="ph">Payment History</label>
                                    <input type="number"
                                        nbInput
                                        fullWidth
                                        placeholder="Enter weight for Payment History"
                                        formControlName="ph" required/>

                                    <div *ngIf="settingForm.controls['ph'].invalid && (settingForm.controls['ph'].dirty || settingForm.controls['ph'].touched)" class="alert alert-danger">
                                        <div *ngIf="settingForm.controls['ph'].errors.required">
                                            * Required
                                        </div>
                                        <div *ngIf="settingForm.controls['ph'].errors.min">
                                            * Cannot go below 0
                                        </div>
                                        <div *ngIf="settingForm.controls['ph'].errors.max">
                                            * Cannot exceed 98
                                        </div>
                                        <div *ngIf="settingForm.controls['ph'].errors.inaccurate">
                                          * Exceed max weight
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-control-group">
                                    <label class="label" for="ao">Amount Owed: </label>
                                    <input type="number"
                                        nbInput
                                        fullWidth
                                        placeholder="Enter weight for Amount Owed"
                                        formControlName="ao" required/>

                                    <div *ngIf="settingForm.controls['ao'].invalid && (settingForm.controls['ao'].dirty || settingForm.controls['ao'].touched)" class="alert alert-danger">
                                        <div *ngIf="settingForm.controls['ao'].errors.required">
                                            * Required
                                        </div>
                                        <div *ngIf="settingForm.controls['ao'].errors.min">
                                            * Cannot go below 0
                                        </div>
                                        <div *ngIf="settingForm.controls['ao'].errors.max">
                                            * Cannot exceed 98
                                        </div>
                                        <div *ngIf="settingForm.controls['ao'].errors.inaccurate">
                                          * Exceed max weight
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-control-group">
                                    <label class="label" for="lch">Length of Credit History </label>
                                    <input type="number"
                                        nbInput
                                        fullWidth
                                        placeholder="Enter weight for Length of Credit History"
                                        formControlName="lch" required/>

                                    <div *ngIf="settingForm.controls['lch'].invalid && (settingForm.controls['lch'].dirty || settingForm.controls['lch'].touched)" class="alert alert-danger">
                                        <div *ngIf="settingForm.controls['lch'].errors.required">
                                            * Required
                                        </div>
                                        <div *ngIf="settingForm.controls['lch'].errors.min">
                                            * Cannot go below 0
                                        </div>
                                        <div *ngIf="settingForm.controls['lch'].errors.max">
                                            * Cannot exceed 98
                                        </div>
                                        <div *ngIf="settingForm.controls['lch'].errors.inaccurate">
                                          * Exceed max weight
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-control-group">
                                    <label class="label" for="nc">New Credit </label>
                                    <input type="number"
                                        nbInput
                                        fullWidth
                                        placeholder="Enter weight for New Credit"
                                        formControlName="nc" required/>


                                    <div *ngIf="settingForm.controls['nc'].invalid && (settingForm.controls['nc'].dirty || settingForm.controls['nc'].touched)" class="alert alert-danger">
                                        <div *ngIf="settingForm.controls['nc'].errors.required">
                                            * Required
                                        </div>
                                        <div *ngIf="settingForm.controls['nc'].errors.min">
                                            * Cannot go below 0
                                        </div>
                                        <div *ngIf="settingForm.controls['nc'].errors.max">
                                            * Cannot exceed 98
                                        </div>
                                        <div *ngIf="settingForm.controls['nc'].errors.inaccurate">
                                          * Exceed max weight
                                        </div>
                                        <div *ngIf="settingForm.controls['nc'].errors.pattern">
                                          * Exceed max weight
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-control-group">
                                    <label class="label" for="tcu">Type of Credit Used</label>
                                    <input type="number"
                                        nbInput
                                        fullWidth
                                        placeholder="Enter weight for Type of Credit Used"
                                        formControlName="tcu" required/>

                                    <div *ngIf="settingForm.controls['tcu'].invalid && (settingForm.controls['tcu'].dirty || settingForm.controls['tcu'].touched)" class="alert alert-danger">
                                        <div *ngIf="settingForm.controls['tcu'].errors.required">
                                            * Required
                                        </div>
                                        <div *ngIf="settingForm.controls['tcu'].errors.min">
                                            * Cannot go below 0
                                        </div>
                                        <div *ngIf="settingForm.controls['tcu'].errors.max">
                                            * Cannot exceed 98
                                        </div>
                                        <div *ngIf="settingForm.controls['tcu'].errors.inaccurate">
                                          * Exceed max weight
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <br><br><br>
                                <button class="btn"
                                  [disabled]="!totalAcceptable || settingForm.pristine || settingForm.invalid"
                                  nbButton
                                  fullWidth
                                  status="success">
                                  Save Configuration
                                </button>
                            </form>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>




