
@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';



[nbButton] {
    margin-right: 0.75rem;
    margin-bottom: 1rem;
    float: right;
    position: relative;
  }
article
{
    padding-left: 20px;
}
blockquote
{
    padding-left: 80px;
    font-style: italic
}

.pending
{
    content: "pending";
    color: nb-theme(color-white);
    margin-left: 1rem;
    background: nb-theme(color-warning);
    padding: 0 0.5rem;
    border-radius: nb-theme(radius);
    font-size: 1.25rem;//nb-theme(font-size-sm);
}

.approved
{
    content: "approved";
    color: nb-theme(color-white);
    // margin-left: 1rem;
    background: #00FF00;//nb-theme(color-success);
    // padding: 0 0.5rem;
    border-radius: nb-theme(radius);
    font-size: 1.25rem; //nb-theme(font-size-sm);
}
.bottom
{
    position: absolute;
    bottom: 0;
    right: 30px;
}
.top
{
    position: absolute;
    top: 0;
    right: 30px;
}