<article>
    <div class="row">
      <div class="col-8">
          <h3> {{organisations._organisationName}}</h3>
          <p> Loaction: {{organisations._location}}</p>  
          <p> Contact: {{organisations._contact}}</p>
          <blockquote> 
            <span>&#8221;</span>
            {{organisations._description}} 
            <span>&#8221;</span>
          </blockquote>
      </div>
      <div class="col-4">
          <button   nbButton
                    (click)="viewOrganisationPage(organisations._id)"
                    outline status="primary"
                    class="top"> 
                    View Organisation Profile
          </button>

          <button   [hidden]="organisations._watchdog_authorized"
                    nbButton
                    (click)="authorizeWatchdog(organisations._id)"
                    outline status="primary"
                    class="bottom"> 
                    Accept request
          </button>
      
      </div>
    </div>
  </article>
    