<article>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
            <h3> Account:  {{loanData._accountID}}</h3>
            <p>  Name: {{loanData._accountName}}</p>
            <p>  Institution: {{loanData._institutionName}}</p>
        </div>
        <div class="col-4">
            <h3> Amount:  {{loanData._amount}}</h3>
            <p>  Duration (in months): {{loanData._repaymentPeriod}}</p>
            <p>  Dated : {{loanData._issueDate | date }}</p>
        </div>

    </div>
  </article>
