
<div class="row">
    <div class="col-md-12">
        <nb-card >
            <nb-tabset fullWidth>
                <nb-tab tabTitle="Pending">
                    <nb-list    nbInfiniteList
                                [threshold]="100"
                                (bottomThreshold)="loadNext(pendingCardData)">
                                
                                <nb-list-item *ngFor="let pendingItems of pendingCardData.items">
                                    <creditor-request-list-item (authorizeWatchdogEvent)="receiveAuthorizeOrganisation($event)"  [organisations]="pendingItems"></creditor-request-list-item>
                                </nb-list-item>
                                <nb-list-item *ngFor="let _ of pendingCardData.placeholders">
                                    <ngx-list-item-placeholder></ngx-list-item-placeholder>
                                </nb-list-item>
                    </nb-list>
                </nb-tab>
                <nb-tab tabTitle="Approved">
                    <nb-list    nbInfiniteList
                                [threshold]="100"
                                (bottomThreshold)="loadNext(approvedCardData)">

                                <nb-list-item *ngFor="let approvedItems of approvedCardData.items">
                                    <creditor-request-list-item [organisations]="approvedItems"></creditor-request-list-item>
                                </nb-list-item>
                                <nb-list-item *ngFor="let _ of approvedCardData.placeholders">
                                    <ngx-list-item-placeholder></ngx-list-item-placeholder>
                                </nb-list-item>
                    </nb-list>
                </nb-tab>
            </nb-tabset>
        </nb-card>
    </div>
</div>
  