
<div class="row">
    <div class="col-md-12">
        <button
        nbButton
        class = "float-right"
        (click)="addLoan()"
        shape="semi-round"
        outline
        status="info">Add Loan
    </button>
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-md-12">
        <nb-card class="own-scroll">
            <nb-card-header>
                Loan History
            </nb-card-header>
            <nb-list
            nbInfiniteList
            [threshold]="100"
            (bottomThreshold)="loadNext(cardData)">

            <nb-list-item *ngFor="let items of cardData.items">
                <creditee-loan-list-item [loanData]="items"></creditee-loan-list-item>
            </nb-list-item>
            <nb-list-item *ngFor="let _ of cardData.placeholders">
                <ngx-list-item-placeholder></ngx-list-item-placeholder>
            </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>
