<div class="container">
  <div class="flex-centered row">
      <div class="col">
          <nb-card>
              <nb-card-header>
                  <nav class="navigation\">
                    <a (click)="back()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
                    <h2 class="title">Add Account</h2>
                  </nav>
              </nb-card-header>

              <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" novalidate>
                  <nb-card-body>
                      <br>
                      <div class="container">
                          <br>
                          <div class="col">
                              <div class="form-control-group">
                                  <label class="label" for="institution">Institution:</label>
                                  <nb-select
                                  fullWidth
                                  placeholder="Select Institution"
                                  [(selected)]="commonSelectedInstItem"
                                  outline status="success"
                                  formControlName="institution" required>
                                      <nb-option>Clear</nb-option>

                                      <nb-option *ngFor="let org of creditorsList"
                                          [value]="org.registrationID"> {{org.name}}
                                      </nb-option>
                                  </nb-select>

                                  <div *ngIf="accountForm.controls['institution'].invalid && (accountForm.controls['institution'].dirty || accountForm.controls['institution'].touched)" class="alert alert-danger">
                                      <div *ngIf="accountForm.controls['institution'].errors.required">
                                        * institution required
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="col form-control-group">
                              <label class="label" for="accountName">Account Name</label>
                              <nb-select
                                  fullWidth
                                  id="accountName"
                                  [(selected)]="commonSelectedAccNameItem"
                                  outline status="success"
                                  placeholder="Select Account Name"
                                  formControlName="accountName" required>
                                      <nb-option>Clear</nb-option>
                                      <nb-option
                                          *ngFor="let account of currentAccountTypeList"
                                          [value]="account.name"> {{account.name}}
                                      </nb-option>
                                  </nb-select>

                              <div *ngIf="accountForm.controls['accountName'].invalid && (accountForm.controls['accountName'].dirty || accountForm.controls['accountName'].touched)" class="alert alert-danger">
                                  <div *ngIf="accountForm.controls['accountName'].errors.required">
                                      * Required
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="col input-group form-control-group">
                            <label class="label" for="accountID">Enter Account ID: </label>
                            <input type="number"
                                nbInput
                                fullWidth
                                placeholder="Enter Account ID"
                                formControlName="accountID" required/>

                            <div *ngIf="accountForm.controls['accountID'].invalid && (accountForm.controls['accountID'].dirty || accountForm.controls['accountID'].touched)" class="alert alert-danger">
                                <div *ngIf="accountForm.controls['accountID'].errors.required">
                                    * Required
                                </div>
                                <div *ngIf="accountForm.controls['accountID'].errors.minlength">
                                    * Seems to short
                                </div>
                                <div *ngIf="accountForm.controls['accountID'].errors.pattern">
                                    * Accepts 0-9
                                </div>
                            </div>

                          </div>
                          <br>
                      </div>

                  </nb-card-body>
                  <div class="row">
                      <br>
                      <div class="col s12">
                          <button nbButton
                                  fullWidth
                                  class="btn"
                                  type="submit"
                                  [disabled]="accountForm.pristine || accountForm.invalid"
                                  status="success">
                                  Submit
                          </button>
                      </div>
                      <br>
                  </div>

              </form>
          </nb-card>
      </div>
  </div>
</div>
